#root {
	display: flex;
	flex-direction: column;
}

#player-screen {
	display: flex;
	gap: 2rem;
	align-self: center;
}

.grid-containers {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#ocean-grid,
#target-grid {
	min-width: 15rem;
	width: clamp(15rem, 35vw, 30rem);
	height: clamp(15rem, 35vw, 30rem);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	border: 1px solid black;
}
.ocean-grid__cell,
.target-grid__cell {
	border: 0.5px solid black;
}
.highlighted {
	background-color: rgba(202, 155, 12, 0.31);
}
.occupied {
	background-color: lightblue;
}
.occupied.hit,
.hit {
	background-color: red;
}
.miss {
	background-color: #a0a0a0;
}
#button-container {
	display: flex;
	align-self: stretch;
	justify-content: space-around;
}

#result {
	width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 3rem;
}
#result__title,
#result__summary {
	margin: 0;
}

#accuracy-stat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem 5rem;
}
#accuracy-stat__title {
	max-height: 5rem;
	place-self: center;
	grid-row: 1;
	grid-column: 1 / 3;
	margin: 0;
	overflow: auto;
}
#accuracy-player1,
#accuracy-player2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#accuracy-player1 {
	grid-row: 2;
	grid-column: 1 / 2;
}
#accuracy-player2 {
	grid-row: 2;
	grid-column: 2 / 3;
}
#accuracy-player1__rate,
#accuracy-player2__rate {
	font-size: 2rem;
}
