#root {
	display: flex;
	flex-direction: column;
}

#player-screen {
	display: flex;
	gap: 2rem;
	align-self: center;
}

.grid-containers {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ocean-grid,
#target-grid {
	min-width: 15rem;
	width: clamp(15rem, 35vw, 30rem);
	height: clamp(15rem, 35vw, 30rem);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	border: 1px solid black;
}
.ocean-grid__cell,
.target-grid__cell {
	border: 0.5px solid black;
}
.occupied {
	background-color: lightblue;
}
.occupied.hit,
.hit {
	background-color: red;
}
.miss {
	background-color: #a0a0a0;
}
