:root {
	--bg-color: black;
	--accent-color: white;
	--whitish: #eeeeee;
	--yellow: #fefe1f;
	--teal: #00fed3;
	--red: #fd0302;
	--blue: 1px solid #1815cf;
	--btn-border: 4px outset #929292;
}

/* MARK: general */
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'OCR A', monospace;
	font-style: italic;
	color: var(--accent-color);
}
body {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 1rem 6vw;
	background-color: var(--bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 100;
	margin: 0;
}
.heading {
	position: relative;
	text-transform: uppercase;
}
.heading::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: -4px;
	width: 4ch;
	height: 2px;
	background-color: var(--accent-color);
}
.btn {
	background-color: var(--bg-color);
	border: var(--btn-border);
	cursor: pointer;
}
.btn:disabled {
	opacity: 40%;
	border-color: transparent;
}
.link {
	color: var(--teal);
}

/* MARK: sections */
.topmost-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#top-heading {
	font-size: 1.5rem;
}
.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 5rem;
}

/* MARK: grids */
.grid {
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	border: var(--blue);
}
.grid.small {
	width: 70%;
}
.grid__title {
	margin-bottom: 1rem;
	font-size: 1.25rem;
}
.grid__cell {
	background-color: var(--bg-color);
	border: var(--blue);
}
#target-grid > .grid__cell {
	cursor: pointer;
}
#target-grid > .grid__cell:disabled {
	opacity: 40%;
	cursor: progress;
}
.grid__cell--occupied {
	background-color: var(--teal);
	border: 1px solid var(--teal);
	box-shadow: 0 0 20px var(--teal);
	z-index: 1;
}
.grid__cell--valid {
	background-color: var(--yellow);
	border: none;
	box-shadow: 0 0 20px 0px var(--yellow);
	z-index: 1;
}
.grid__cell--invalid {
	background-color: var(--whitish);
	border: none;
	box-shadow: none;
}
.grid__cell--hit {
	background-color: var(--bg-color);
	background-image: url(../assets/cross.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid var(--red);
	box-shadow: none;
}
.grid__cell--miss {
	background-color: var(--bg-color);
	background-image: url(../assets/question-mark.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid var(--whitish);
	box-shadow: none;
}

/* MARK: setup controls */
.setup-controls {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 0;
	padding-block: 0.5rem;
	background-color: #151515;
	border: 8px double #444444;
	z-index: 2;
}
.setup-controls.hide {
	display: none;
}
.buttons-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.rotate-btn,
.confirm-btn {
	padding: 0.5rem;
	font-size: 1rem;
	color: var(--accent-color);
}
/* MARK: d-pad */
.d-pad {
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: repeat(3, 3rem);
}
.d-pad__btn {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.d-pad__btn:active:enabled {
	border-color: transparent;
}
.d-pad__up-btn {
	grid-row: 1;
	grid-column: 2;
	background-image: url(../assets/arrow-up.svg);
}

.d-pad__left-btn {
	grid-row: 2;
	grid-column: 1;
	background-image: url(../assets/arrow-left.svg);
}
.d-pad__middle-btn {
	grid-column: 2;
	background-image: url(../assets/check.svg);
}
.d-pad__right-btn {
	grid-row: 2;
	grid-column: 3;
	background-image: url(../assets/arrow-right.svg);
}
.d-pad__down-btn {
	grid-row: 3;
	grid-column: 2;
	background-image: url(../assets/arrow-down.svg);
}

/* MARK: result modal */
.result-modal {
	background-color: var(--bg-color);
}
.result-modal::backdrop {
	backdrop-filter: blur(4px) grayscale(1);
}
.result,
.stats {
	display: flex;
	flex-direction: column;
}
.result {
	gap: 2rem;
}
.result__title.win {
	color: lime;
}
.result__title.loss {
	color: red;
}
.result__btn {
	align-self: flex-end;
	padding: 0.5rem;
}
.stats {
	gap: 1rem;
}
.stats__item {
	display: flex;
	justify-content: space-around;
}
